body {
    background-image: url(https://i.pinimg.com/564x/58/83/63/588363427a3b3db8f4569f205c51ef85.jpg);
    padding: 20px;
}

h1, h2, section, p, h3, li, figure, figcaption{
    text-align: center;
}